* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  background-color: #f2efe9; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.header__nav__logo {
  position: relative;
  padding: 15px 0;
  display: flex; }
  .header__nav__logo__part__1 {
    position: absolute;
    left: 28px;
    top: 14px;
    width: 60px;
    animation-name: logo;
    animation-duration: 15s;
    animation-iteration-count: infinite; }
    @media (max-width: 768px) {
      .header__nav__logo__part__1 {
        width: 30px;
        left: 18px; } }
  @media (max-width: 768px) {
    .header__nav__logo__part__2 {
      width: 100px; } }

@keyframes logo {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.loader {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  justify-content: center;
  height: 50vh;
  align-items: center; }

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center; }

.loader__img__parent {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  justify-content: center;
  margin-left: 8px; }

.dots__parent {
  display: flex;
  width: 100%;
  justify-content: center; }

.dot {
  width: 15px;
  margin-left: 10px;
  background-color: #2a272b;
  border-radius: 50%;
  height: 15px;
  animation-name: loader;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

.dot--2 {
  background-color: #00a5cf;
  animation-delay: 0.4s; }

.dot--3 {
  background-color: #904e55;
  animation-delay: 0.8s; }

.loader__logo {
  animation-name: Logo;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes loader {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(10px); } }

@keyframes Logo {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

.header__loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #067275;
  background: -moz-linear-gradient(left, #1b6b99 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #1b6b99 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #1b6b99 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #1b6b99 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #1b6b99 10%, rgba(255, 255, 255, 0) 42%);
  position: absolute;
  top: -25px;
  left: 30%;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }
  @media (max-width: 768px) {
    .header__loader {
      width: 2em;
      height: 2em; } }

.header__loader:before {
  width: 50%;
  height: 50%;
  background: #1b6b99;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: ""; }

.header__loader:after {
  background: #2a272b;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.show {
  display: inline-block; }

.hide {
  display: none; }

.search {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100%;
  max-width: 1000px;
  left: 50%;
  top: -40px;
  transform: translateX(-50%); }
  .search__input {
    width: 100%;
    padding: 10px 10px;
    border: 5px solid #fff;
    outline: none;
    background-color: #2c2626;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out; }
    .search__input::placeholder {
      color: #fff; }
  .search__icon {
    position: absolute;
    right: 10px;
    top: 45px;
    color: #00a5cf;
    cursor: pointer; }

.error {
  position: absolute;
  width: 100%;
  background-color: #1d1f1f;
  max-width: 300px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 0;
  text-align: left;
  border-radius: 10px;
  color: #fff;
  transition: opacity 10s ease-in-out;
  visibility: hidden;
  opacity: 0; }
  .error__message {
    opacity: 0.9;
    padding: 0 30px;
    font-size: 16px; }

.header {
  position: fixed;
  top: 0;
  background-color: #2a272b;
  width: 100%;
  z-index: 100; }
  .header .header__items__container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    color: #f2efe9;
    align-items: center; }
    @media (max-width: 500px) {
      .header .header__items__container {
        padding: 0 5px; } }
    .header .header__items__container .total__info {
      display: flex;
      font-size: 20px;
      width: 100%;
      max-width: 1000px;
      justify-content: space-between;
      margin: auto; }
      @media (max-width: 768px) {
        .header .header__items__container .total__info {
          font-size: 16px; } }
      @media (max-width: 500px) {
        .header .header__items__container .total__info {
          font-size: 10px; } }
      .header .header__items__container .total__info div {
        text-align: center; }
      .header .header__items__container .total__info__cases {
        position: relative; }
        .header .header__items__container .total__info__cases--deaths {
          color: #904e55; }
        .header .header__items__container .total__info__cases--recovered {
          color: #098044; }
        .header .header__items__container .total__info__cases--critical {
          color: #ce041f; }
        .header .header__items__container .total__info__cases--confirmed {
          color: #00a5cf; }
        .header .header__items__container .total__info__cases span {
          display: block; }

.fav {
  position: relative; }
  .fav--title {
    position: relative;
    cursor: pointer; }
  .fav__container {
    position: absolute;
    z-index: 40;
    top: 0px;
    right: 0;
    width: 100%;
    max-width: 350px; }
  .fav__dropdown--hide {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; }
  .fav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: black;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out; }
  .fav__table {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    background-color: #2a272b;
    border-radius: 5px;
    padding-bottom: 70px;
    padding-left: 20px;
    color: #f2efe9;
    text-align: left; }
    .fav__table__titles {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-right: 40px; }
    .fav__table__title {
      position: relative;
      background-color: #2a272b !important; }
    .fav__table .container__table__items {
      font-size: 15px;
      font-weight: normal;
      padding: 0; }
      .fav__table .container__table__items:hover {
        background-color: #4b3e3e; }
      .fav__table .container__table__items__fav__countries {
        width: 80px;
        text-align: left; }
    .fav__table__message {
      position: absolute;
      top: 40px;
      left: 50px;
      transform: translateX(-50%);
      font-size: 15px;
      color: #904e55;
      display: flex;
      width: 150px; }
    .fav__table__new {
      color: red; }
      .fav__table__new--null {
        color: #fff !important;
        margin-left: 20px; }
      .fav__table__new--favourite {
        position: relative;
        left: 30px; }

.dropdown {
  position: sticky;
  top: 150px;
  z-index: 30; }

.favourite {
  color: #00a5cf; }

.fa-caret-down {
  cursor: pointer;
  color: #00a5cf; }

.fav__dropdown--show {
  visibility: visible;
  opacity: 1; }

.container {
  margin: 200px 0;
  position: relative; }
  @media (max-width: 768px) {
    .container {
      margin: 150px 0; } }
  @media (max-width: 500px) {
    .container {
      padding: 0 5px; } }
  .container__table {
    position: relative;
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 0; }
    .container__table__total {
      width: 100px; }
    .container__table__titles {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      padding: 0 30px;
      position: sticky;
      top: 105px;
      text-align: center;
      background-color: #fff; }
      @media (max-width: 768px) {
        .container__table__titles {
          top: 75px;
          font-size: 16px; } }
      @media (max-width: 500px) {
        .container__table__titles {
          top: 65; } }
      .container__table__titles .table__title {
        padding: 10px 0;
        background-color: #fff;
        padding: 10px 10px; }
    .container__table__items {
      font-size: 18px;
      display: flex;
      align-items: center;
      margin: 10px 0;
      border-radius: 5px;
      justify-content: space-between;
      padding: 0 30px; }
      @media (max-width: 500px) {
        .container__table__items {
          padding: 0; } }
      .container__table__items:hover {
        background-color: #f2efe9;
        cursor: pointer; }
      @media (max-width: 768px) {
        .container__table__items {
          font-size: 15px; } }
    .container__table__countries {
      cursor: pointer;
      padding: 10px;
      width: 130px; }
      @media (max-width: 768px) {
        .container__table__countries {
          width: 100px; } }
    .container__table__new {
      color: red;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100px; }
      .container__table__new__star {
        color: gray;
        cursor: pointer; }
    .container__table__new--null {
      display: flex;
      justify-content: space-between;
      color: black;
      padding: 10px 0;
      width: 100px; }

.modal {
  position: fixed;
  min-width: 250px;
  max-width: 300px;
  left: 0;
  top: 200px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15;
  border-radius: 10px;
  z-index: 140;
  visibility: hidden;
  opacity: 0;
  padding-bottom: 30px;
  transition: opacity 0.5s ease-in-out; }
  @media (max-width: 768px) {
    .modal {
      top: 100px; } }
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    height: 100%;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; }
  .modal__container {
    width: 100%; }
    .modal__container__img {
      width: 100%;
      border-radius: 10px 10px 0 0; }
    .modal__container__list {
      display: flex;
      flex-direction: column;
      padding: 0 40px; }
      .modal__container__list__li {
        font-size: 18px;
        margin: 5px 0; }
        .modal__container__list__li--recovered {
          color: #1c801c; }
        @media (max-width: 768px) {
          .modal__container__list__li {
            font-size: 16px; } }
        .modal__container__list__li--new {
          color: red; }
        .modal__container__list__li--country {
          color: black;
          font-weight: bold;
          align-self: center;
          font-size: 20px;
          margin-top: 20px; }

.show {
  visibility: visible;
  opacity: 1; }

.overlay__show {
  visibility: visible;
  opacity: 0.7; }
