.fav {
  position: relative;

  &--title {
    position: relative;

    cursor: pointer;
  }
  &__container {
    position: absolute;
    z-index: 40;
    right: 0;
    width: 100%;
    max-width: 350px;
  }
  &__dropdown--hide {
    visibility: hidden;
    opacity: 0;
    @include transition;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: black;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    @include transition;
  }

  &__table {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    background-color: $primary--color;
    border-radius: 5px;
    padding-bottom: 70px;
    padding-left: 20px;
    color: $base--color;
    text-align: center;

    &__titles {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    &__title {
      position: relative;
      background-color: $primary--color !important;
    }
    .container__table__items {
      font-size: 15px;
      font-weight: normal;
      &:hover {
        background-color: #4b3e3e;
      }
      &__fav__countries {
        width: 80px;
        text-align: left;
      }
    }
    &__message {
      position: absolute;
      top: 40px;
      left: 50px;
      transform: translateX(-50%);
      font-size: 15px;
      color: $darkRed--color;

      display: flex;
      width: 150px;
    }
    &__new {
      color: red;
      &--null {
        color: #fff !important;
        margin-left: 20px;
      }
      &--favourite {
        position: relative;
        left: 30px;
      }
    }
  }
}

.favourite {
  color: $secondary--color;
}
.fa-caret-down {
  cursor: pointer;
  color: $secondary--color;
}

.fav__dropdown--show {
  visibility: visible;
  opacity: 1;
}
