.container {
  margin: 200px 0;
  padding: 0 50px;

  @media (max-width: 500px) {
    padding: 0 5px;
  }
  &__table {
    position: relative;
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 10px;
    &__titles {
      font-size: 22px;

      @media (max-width: "768px") {
        font-size: 16px;
      }
      .table__title {
        position: sticky;
        padding: 10px 0;
        top: 105px;
        background-color: #fff;
        z-index: 10;
        @media (max-width: 768px) {
          top: 75px;
        }
        @media (max-width: 500px) {
          top: 65;
        }
      }
    }
    &__items {
      font-size: 18px;
      @media (max-width: "768px") {
        font-size: 15px;
      }
    }
    &__countries {
      cursor: pointer;
      padding: 10px 0;
      @media (max-width: 768px) {
        width: 100px;
      }
    }
    &__new {
      color: red;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      &__star {
        color: gray;

        cursor: pointer;
      }
    }
    &__new--null {
      display: flex;
      justify-content: space-between;
      color: black;
      padding: 10px 0;
    }
  }
}
