.header__nav__logo {
  position: relative;

  padding: 15px 0;
  display: flex;
  &__part__1 {
    position: absolute;
    left: 28px;
    top: 14px;
    width: 60px;
    animation-name: logo;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    @media (max-width: "768px") {
      width: 30px;
      left: 18px;
    }
  }
  &__part__2 {
    @media (max-width: "768px") {
      width: 100px;
    }
  }
}

@keyframes logo {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
