@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($delay: 0.5s) {
  transition: opacity $delay ease-in-out;
}
@mixin country--li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border-radius: 5px;
  justify-content: space-between;
  padding: 0 30px;
}
